@model Model_Binding_Validation_And_Routing.Models.Buyer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <p>Cảm ơn bạn  @Model.Name đã đăng kí thành công</p>
    <a asp-action="ListStudent">Danh sách đã đăng kí</a>
</body>
</html>
